.full-body{
  background-color: hotpink;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-title{
  font-size: 18px;
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
  background-color: white;
  width: 92vw;
  max-width: 450px;
  border-radius: 15px;
  padding: 25px 25px;
}
.btn{
  width: 100%;
  padding: 10px 12px;
  background-color: hotpink;
  border: 1px solid hotpink;
  font-size: 18px;
  color: white;
}
@media screen and (max-width: 767px) {
  .container{
    margin: 0 10px;
  }
}